{%- liquid
  assign t = template | split: '.' | first
  assign spacer = ' &nbsp;/&nbsp; '
  if padding == false
    assign padding = ''
  elsif padding == blank
    assign padding = 'pt-3 pb-3'
  endif
-%}
<nav class="breadcrumbs {{ class }}" role="navigation" aria-label="breadcrumbs">
  <ul class="list-none flex align-center" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li
      class="relative {{ padding }}"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a href="{{ routes.root_url }}" title="Home" aria-label="Link to Home" itemprop="item">
        <span itemprop="name">{{ 'general.home' | t }}</span>
        <meta itemprop="position" content="1">
      </a>
    </li>

    {%- assign position = 1 -%}

    {%- case t -%}
      {%- when 'page' -%}
        {{ spacer }}
        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <span itemprop="name">{{ page.title }}</span>
          <meta itemprop="position" content="{{ position }}">
        </li>

      {%- when 'product' -%}
        {% comment %}
          {%- if collection.url -%}
            <span aria-hidden="true"></span>
            <li class="relative {{ padding }}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="{{ collection.url }}" itemprop="item" aria-label="Link to {{ collection.title }}">
                <span itemprop="name">{{ collection.title }}</span>
                <meta itemprop="position" content="{{ position }}" />
              </a>
            </li>
            {%- assign position = position | plus: 1 -%}
          {% endif %}
        {% endcomment %}

        {%- if product.metafields.product_data.parent_collection -%}
          {%- liquid
            assign sub_collection = product.metafields.product_data.parent_collection.value
            assign sub_collection_title = sub_collection.title
            assign sub_collection_url = sub_collection.url

            assign sub_collection_2 = sub_collection.metafields.collection_data.parent_collection.value
            assign sub_collection_2_title = sub_collection_2.title
            assign sub_collection_2_url = sub_collection_2.url

            assign sub_collection_3 = sub_collection_2.metafields.collection_data.parent_collection.value
            assign sub_collection_3_title = sub_collection_3.title
            assign sub_collection_3_url = sub_collection_3.url
          -%}

          {%- if sub_collection_3_title != blank and sub_collection_3_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_3_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_3_title }}"
              >
                <span itemprop="name">{{ sub_collection_3_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
          {%- if sub_collection_2_title != blank and sub_collection_2_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_2_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_2_title }}"
              >
                <span itemprop="name">{{ sub_collection_2_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
          {%- if sub_collection_title != blank and sub_collection_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_title }}"
              >
                <span itemprop="name">{{ sub_collection_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
        {%- endif -%}
        {%- assign position = position | plus: 1 -%}
        {{ spacer }}
        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <span itemprop="name">{{ product.title }}</span>
          <meta itemprop="position" content="{{ position }}">
        </li>

      {%- when 'collection' and collection.handle -%}
        {%- if collection.metafields.collection_data.parent_collection -%}
          {%- liquid
            assign sub_collection = collection.metafields.collection_data.parent_collection.value
            assign sub_collection_title = sub_collection.title
            assign sub_collection_url = sub_collection.url

            assign sub_collection_2 = sub_collection.metafields.collection_data.parent_collection.value
            assign sub_collection_2_title = sub_collection_2.title
            assign sub_collection_2_url = sub_collection_2.url

            assign sub_collection_3 = sub_collection_2.metafields.collection_data.parent_collection.value
            assign sub_collection_3_title = sub_collection_3.title
            assign sub_collection_3_url = sub_collection_3.url
          -%}

          {%- if sub_collection_3_title != blank and sub_collection_3_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_3_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_3_title }}"
              >
                <span itemprop="name">{{ sub_collection_3_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
          {%- if sub_collection_2_title != blank and sub_collection_2_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_2_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_2_title }}"
              >
                <span itemprop="name">{{ sub_collection_2_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
          {%- if sub_collection_title != blank and sub_collection_url != blank -%}
            {%- assign position = position | plus: 1 -%}
            {{ spacer }}
            <li
              class="relative {{ padding }}"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a
                href="{{ sub_collection_url }}"
                itemprop="item"
                aria-current="page"
                aria-label="Link to {{ sub_collection_title }}"
              >
                <span itemprop="name">{{ sub_collection_title }}</span>
                <meta itemprop="position" content="{{ position }}">
              </a>
            </li>
          {%- endif -%}
        {%- endif -%}
        {%- assign position = position | plus: 1 -%}
        {{ spacer }}
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <span itemprop="name">{{ collection.title }}</span>
          <meta itemprop="position" content="{{ position }}">
        </li>

        {%- if current_tags -%}
          {%- assign position = position | plus: 1 -%}
          {{ spacer }}
          <span aria-hidden="true"></span>
          <li
            class="relative {{ padding }}"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a
              href="{{ tag_url }}"
              itemprop="item"
              aria-current="page"
              aria-label="Link to tags {{ current_tags | join: ' + ' }}"
            >
              <span itemprop="name">{{ current_tags | join: ' + ' }}</span>
              <meta itemprop="position" content="{{ position }}">
            </a>
          </li>
        {%- endif -%}

      {%- when 'blog' -%}
        {{ spacer }}
        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a
            href="{{ blog.url }}"
            itemprop="item"
            aria-current="page"
            aria-label="Link to {{ blog.title }}"
          >
            <span itemprop="name">{{ blog.title }}</span>
            <meta itemprop="position" content="{{ position }}">
          </a>
        </li>

        {%- if current_tags -%}
          {%- assign position = position | plus: 1 -%}
          {{ spacer }}
          <span aria-hidden="true"></span>
          <li
            class="relative {{ padding }}"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            {%- capture tag_url -%}{{ blog.url }}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a
              href="{{ tag_url }}"
              itemprop="item"
              aria-current="page"
              aria-label="Link to tags {{ current_tags | join: ' + ' }}"
            >
              <span itemprop="name">
                {{- current_tags | join: ' + ' | remove: 'collection_' | remove: 'location__' -}}
              </span>
              <meta itemprop="position" content="{{ position }}">
            </a>
          </li>
        {%- endif -%}

      {%- when 'article' -%}
        {{ spacer }}

        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a href="{{ blog.url }}" itemprop="item" aria-label="Link to {{ blog.title }}">
            <span itemprop="name">{{ blog.title }}</span>
            <meta itemprop="position" content="{{ position }}">
          </a>
        </li>
        {%- assign position = position | plus: 1 -%}
        {{ spacer }}
        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a
            href="{{ article.url }}"
            itemprop="item"
            aria-current="page"
            aria-label="Link to {{ article.title }}"
          >
            <span itemprop="name">{{ article.title }}</span>
            <meta itemprop="position" content="{{ position }}">
          </a>
        </li>

      {%- else -%}
        {{ spacer }}

        <span aria-hidden="true"></span>
        <li
          class="relative {{ padding }}"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a
            href="{{ request.path }}"
            itemprop="item"
            aria-current="page"
            aria-label="Link to {{ page_title }}"
          >
            <span itemprop="name">{{ page_title }}</span>
            <meta itemprop="position" content="{{ position }}">
          </a>
        </li>
    {%- endcase -%}
  </ul>
</nav>

{% stylesheet %}
  .breadcrumbs::-webkit-scrollbar {
    display: none;
  }
  .breadcrumbs span,
  .breadcrumbs a {
    white-space: nowrap;
  }
  .text-center .breadcrumbs ul,
  .text-center .breadcrumbs ol {
    flex-direction: row;
  }
{% endstylesheet %}
