{%- liquid
  assign tag = tag | default: 'h1'
  assign style = style | default: 'heading-h1'
-%}
<div class="product-title" {{ shopify_attributes }}>
  <{{ tag }} class="product-title {{ style }}">{{ product.title }}</{{ tag }}>
</div>
