{% comment %}
  Social URls are pulled from brand settings
{% endcomment %}
{%- liquid
  case size
    when 'small'
      assign size = 22
    when 'medium'
      assign size = 28
    when 'large'
      assign size = 34
  endcase
-%}
<div
  class="social-icons flex flex-wrap g-3"
  style="{{- color | prepend: 'color: ' | append: ';' | remove: 'color: ;' -}}"
>
  {%- for social in shop.brand.metafields.social_links -%}
    {%- assign social_name = social[0] -%}
    {%- assign social_url = social[1] -%}
    {%- case social_name -%}
      {%- when 'facebook' -%}
        <a
          class="facebook flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Facebook"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22">
            <path d="M21.88 11.5C21.88 5.66 17.18.94 11.4.94A10.5 10.5 0 0 0 .92 11.49c0 5.1 3.6 9.35 8.38 10.33v-7.17H7.2V11.5h2.1V8.86a3.7 3.7 0 0 1 3.67-3.7h2.62v3.17h-2.1c-.57 0-1.04.47-1.04 1.05v2.11h3.14v3.16h-3.14v7.33a10.5 10.5 0 0 0 9.43-10.49" fill="currentColor"/>
          </svg>
        </a>

      {%- when 'twitter' -%}
        <a
          class="x flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our X (Twitter)"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 22">
            <path d="M16.47 1.93h3.2l-7 8.08L20.92 21h-6.46L9.4 14.33 3.62 21H.42l7.48-8.64L0 1.93h6.62l4.56 6.1zm-1.13 17.13h1.78L5.65 3.76h-1.9z" fill="currentColor"/>
          </svg>
        </a>

      {%- when 'instagram' -%}
        <a
          class="instagram flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Instagram"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <g clip-path="url(#clip0_3056_38723)"><path d="M9 1.6207C11.4047 1.6207 11.6895 1.63125 12.6352 1.67344C13.5141 1.71211 13.9887 1.85977 14.3051 1.98281C14.7234 2.14453 15.0258 2.34141 15.3387 2.6543C15.6551 2.9707 15.8484 3.26953 16.0102 3.68789C16.1332 4.0043 16.2809 4.48242 16.3195 5.35781C16.3617 6.30703 16.3723 6.5918 16.3723 8.99297C16.3723 11.3977 16.3617 11.6824 16.3195 12.6281C16.2809 13.507 16.1332 13.9816 16.0102 14.298C15.8484 14.7164 15.6516 15.0187 15.3387 15.3316C15.0223 15.648 14.7234 15.8414 14.3051 16.0031C13.9887 16.1262 13.5105 16.2738 12.6352 16.3125C11.6859 16.3547 11.4012 16.3652 9 16.3652C6.59531 16.3652 6.31055 16.3547 5.36484 16.3125C4.48594 16.2738 4.01133 16.1262 3.69492 16.0031C3.27656 15.8414 2.97422 15.6445 2.66133 15.3316C2.34492 15.0152 2.15156 14.7164 1.98984 14.298C1.8668 13.9816 1.71914 13.5035 1.68047 12.6281C1.63828 11.6789 1.62773 11.3941 1.62773 8.99297C1.62773 6.58828 1.63828 6.30351 1.68047 5.35781C1.71914 4.47891 1.8668 4.0043 1.98984 3.68789C2.15156 3.26953 2.34844 2.96719 2.66133 2.6543C2.97773 2.33789 3.27656 2.14453 3.69492 1.98281C4.01133 1.85977 4.48945 1.71211 5.36484 1.67344C6.31055 1.63125 6.59531 1.6207 9 1.6207ZM9 0C6.55664 0 6.25078 0.0105469 5.29102 0.0527344C4.33477 0.0949219 3.67734 0.249609 3.10781 0.471094C2.51367 0.703125 2.01094 1.00898 1.51172 1.51172C1.00898 2.01094 0.703125 2.51367 0.471094 3.1043C0.249609 3.67734 0.0949219 4.33125 0.0527344 5.2875C0.0105469 6.25078 0 6.55664 0 9C0 11.4434 0.0105469 11.7492 0.0527344 12.709C0.0949219 13.6652 0.249609 14.3227 0.471094 14.8922C0.703125 15.4863 1.00898 15.9891 1.51172 16.4883C2.01094 16.9875 2.51367 17.2969 3.1043 17.5254C3.67734 17.7469 4.33125 17.9016 5.2875 17.9437C6.24727 17.9859 6.55312 17.9965 8.99648 17.9965C11.4398 17.9965 11.7457 17.9859 12.7055 17.9437C13.6617 17.9016 14.3191 17.7469 14.8887 17.5254C15.4793 17.2969 15.982 16.9875 16.4813 16.4883C16.9805 15.9891 17.2898 15.4863 17.5184 14.8957C17.7398 14.3227 17.8945 13.6687 17.9367 12.7125C17.9789 11.7527 17.9895 11.4469 17.9895 9.00352C17.9895 6.56016 17.9789 6.2543 17.9367 5.29453C17.8945 4.33828 17.7398 3.68086 17.5184 3.11133C17.2969 2.51367 16.991 2.01094 16.4883 1.51172C15.9891 1.0125 15.4863 0.703125 14.8957 0.474609C14.3227 0.253125 13.6688 0.0984375 12.7125 0.05625C11.7492 0.0105469 11.4434 0 9 0Z" fill="currentColor"/><path d="M9 4.37695C6.44766 4.37695 4.37695 6.44766 4.37695 9C4.37695 11.5523 6.44766 13.623 9 13.623C11.5523 13.623 13.623 11.5523 13.623 9C13.623 6.44766 11.5523 4.37695 9 4.37695ZM9 11.9988C7.34414 11.9988 6.00117 10.6559 6.00117 9C6.00117 7.34414 7.34414 6.00117 9 6.00117C10.6559 6.00117 11.9988 7.34414 11.9988 9C11.9988 10.6559 10.6559 11.9988 9 11.9988Z" fill="currentColor"/><path d="M14.8852 4.19404C14.8852 4.7917 14.4 5.27334 13.8059 5.27334C13.2082 5.27334 12.7266 4.78819 12.7266 4.19404C12.7266 3.59639 13.2117 3.11475 13.8059 3.11475C14.4 3.11475 14.8852 3.5999 14.8852 4.19404Z" fill="currentColor"/></g>
          </svg>
        </a>

      {%- when 'pinterest' -%}
        <a
          class="pinterest flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Pinterest"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg
            aria-hidden="false"
            focusable="true"
            role="region"
            class="icon icon-pinterest"
            viewBox="0 0 17 18"
          >
            <path fill="currentColor" d="M8.48.58a8.42 8.42 0 015.9 2.45 8.42 8.42 0 011.33 10.08 8.28 8.28 0 01-7.23 4.16 8.5 8.5 0 01-2.37-.32c.42-.68.7-1.29.85-1.8l.59-2.29c.14.28.41.52.8.73.4.2.8.31 1.24.31.87 0 1.65-.25 2.34-.75a4.87 4.87 0 001.6-2.05 7.3 7.3 0 00.56-2.93c0-1.3-.5-2.41-1.49-3.36a5.27 5.27 0 00-3.8-1.43c-.93 0-1.8.16-2.58.48A5.23 5.23 0 002.85 8.6c0 .75.14 1.41.43 1.98.28.56.7.96 1.27 1.2.1.04.19.04.26 0 .07-.03.12-.1.15-.2l.18-.68c.05-.15.02-.3-.11-.45a2.35 2.35 0 01-.57-1.63A3.96 3.96 0 018.6 4.8c1.09 0 1.94.3 2.54.89.61.6.92 1.37.92 2.32 0 .8-.11 1.54-.33 2.21a3.97 3.97 0 01-.93 1.62c-.4.4-.87.6-1.4.6-.43 0-.78-.15-1.06-.47-.27-.32-.36-.7-.26-1.13a111.14 111.14 0 01.47-1.6l.18-.73c.06-.26.09-.47.09-.65 0-.36-.1-.66-.28-.89-.2-.23-.47-.35-.83-.35-.45 0-.83.2-1.13.62-.3.41-.46.93-.46 1.56a4.1 4.1 0 00.18 1.15l.06.15c-.6 2.58-.95 4.1-1.08 4.54-.12.55-.16 1.2-.13 1.94a8.4 8.4 0 01-5-7.65c0-2.3.81-4.28 2.44-5.9A8.04 8.04 0 018.48.57z">
          </svg>
        </a>

      {%- when 'tiktok' -%}
        <a
          class="tiktok flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our TikTok"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 21">
            <path d="M13.52.46H9.97V14.1a3 3 0 0 1-3.06 2.95 3 3 0 0 1-3.07-2.95c0-1.6 1.34-2.9 2.98-2.96V7.71A6.5 6.5 0 0 0 .29 14.1a6.5 6.5 0 0 0 6.65 6.37 6.5 6.5 0 0 0 6.64-6.37v-7a8.5 8.5 0 0 0 4.7 1.51V5.19A4.8 4.8 0 0 1 13.53.46" fill="currentColor"/>
          </svg>
        </a>

      {%- when 'youtube' -%}
        <a
          class="youtube flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our YouTube"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 15">
            <path d="m8.97 10.54 5.33-3.08-5.33-3.08zm11.87-8.03q.2.71.28 1.95.11 1.23.1 2.14l.07.86q-.02 3.37-.45 4.96a2.4 2.4 0 0 1-1.78 1.78q-.7.2-2.72.29-2 .1-3.69.1l-1.63.06q-6.45 0-8.04-.45a2.4 2.4 0 0 1-1.77-1.78Q1 11.7.9 10.47a25 25 0 0 1-.1-2.14l-.06-.87q.01-3.37.46-4.95A2.4 2.4 0 0 1 2.98.73q.7-.2 2.72-.29 2-.1 3.69-.1l1.63-.06q6.45 0 8.04.45a2.4 2.4 0 0 1 1.78 1.78" fill="currentColor"/>
          </svg>
        </a>

      {%- when 'tumblr' -%}
        <a
          class="tumblr flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Tumblr"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg
            aria-hidden="false"
            focusable="true"
            role="region"
            class="icon icon-tumblr"
            viewBox="0 0 91 161"
          >
            <path fill-rule="evenodd" d="M64 160.3c-24 0-42-12.3-42-41.8V71.3H.3V45.7c24-6.2 34-26.9 35.2-44.7h24.9v40.5h29v29.8h-29v41.1c0 12.3 6.2 16.6 16.1 16.6h14v31.3H64" fill="currentColor">
          </svg>
        </a>

      {%- when 'linkedin' -%}
        <a
          class="linkedin flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our LinkenIn"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg xmlns="http://www.w3.org/2000/ svg" fill="none" viewBox="0 0 22 22">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.665 8.283h3.889v1.942c.56-1.117 1.997-2.12 4.155-2.12 4.138 0 5.12 2.223 5.12 6.303v7.556H17.64v-6.627c0-2.323-.56-3.634-1.986-3.634-1.979 0-2.8 1.412-2.8 3.633v6.628h-4.19zM1.482 21.785H5.67V8.105H1.48zM6.27 3.643a2.66 2.66 0 0 1-.789 1.892 2.7 2.7 0 0 1-1.906.786 2.72 2.72 0 0 1-1.904-.785 2.68 2.68 0 0 1-.787-1.893c0-.71.283-1.39.788-1.892a2.705 2.705 0 0 1 3.809 0c.506.501.789 1.182.789 1.892" fill="currentColor"/>
          </svg>
        </a>

      {%- when 'snapchat' -%}
        <a
          class="snapchat flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Snapchat"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg
            aria-hidden="false"
            focusable="true"
            role="region"
            class="icon icon-snapchat"
            viewBox="0 0 392 386"
          >
            <path d="M390.3 282.3a27.2 27.2 0 00-13.8-14.7l-3-1.6-5.4-2.7a117 117 0 01-42.7-36.6 83 83 0 01-7.3-13c-.8-2.4-.8-3.8-.2-5 .6-1 1.4-1.9 2.4-2.5a1073.6 1073.6 0 0117.7-11.7 49.5 49.5 0 0016-17.1 33.6 33.6 0 00-30.8-49.7 44.8 44.8 0 00-11.8 1.6c.1-9 0-18.6-.9-27.9A105 105 0 00257.4 16 122 122 0 00196 .3c-22.5 0-43 5.3-61.3 15.7a104.6 104.6 0 00-53.2 85.4c-.8 9.4-1 19-.8 27.9a44.8 44.8 0 00-12-1.6 33.7 33.7 0 00-30.8 49.7A49.6 49.6 0 0054 194.6l9.1 6 8.3 5.4c1 .7 2 1.6 2.6 2.7.7 1.3.7 2.7-.2 5.3-2 4.5-4.5 8.7-7.3 12.8a116.5 116.5 0 01-41.4 36c-9.5 5-19.3 8.3-23.4 19.5-3.1 8.5-1 18.2 6.9 26.3 2.9 3 6.2 5.6 10 7.6 7.7 4.2 15.9 7.5 24.4 9.8a16 16 0 015 2.2c2.9 2.5 2.4 6.3 6.3 12 2 2.8 4.4 5.3 7.2 7.3 8.1 5.6 17.2 6 26.8 6.3 8.7.3 18.5.7 29.8 4.4 4.7 1.5 9.5 4.5 15.1 8a110 110 0 0062.8 19.6c30.8 0 49.4-11.4 63-19.7a77.9 77.9 0 0114.9-7.9c11.2-3.7 21-4 29.8-4.4 9.6-.4 18.7-.7 26.8-6.3 3.3-2.3 6.2-5.4 8.2-9 2.8-4.7 2.7-8 5.3-10.3 1.4-1 3-1.7 4.6-2.1 8.7-2.3 17-5.6 24.8-9.9A39 39 0 00384 308l.1-.1c7.5-8 9.4-17.4 6.3-25.6zM362.9 297c-16.8 9.2-27.9 8.3-36.5 13.8-7.4 4.8-3 15-8.4 18.6-6.5 4.6-26-.3-51 8-20.6 6.8-33.8 26.5-71 26.5-37.1 0-50-19.6-71-26.6-25-8.2-44.4-3.4-51-8-5.3-3.6-1-13.8-8.3-18.5-8.7-5.6-19.8-4.6-36.5-13.8-10.7-5.9-4.6-9.5-1.1-11.2 60.6-29.4 70.3-74.7 70.7-78 .5-4.1 1.1-7.3-3.4-11.5-4.3-4-23.5-15.8-28.9-19.6-8.8-6.1-12.6-12.3-9.8-19.8 2-5.3 6.9-7.2 12-7.2 1.6 0 3.2.2 4.8.5 9.7 2.1 19.1 7 24.5 8.3l2 .2c3 0 4-1.4 3.8-4.7-.7-10.6-2.2-31.3-.5-50.6a80 80 0 0121-51.3A93.7 93.7 0 01196 22.3c43.8 0 66.8 24.1 71.7 29.7a80 80 0 0121 51.3c1.7 19.3.2 40-.5 50.5-.2 3.5.9 4.8 3.8 4.8.6 0 1.3 0 2-.3 5.4-1.3 14.8-6.1 24.5-8.2a19 19 0 014.8-.5c5.1 0 10 2 12 7.2 2.8 7.5-1 13.7-9.9 19.8-5.3 3.7-24.5 15.6-28.8 19.6-4.5 4.2-4 7.4-3.4 11.4.4 3.5 10 48.8 70.7 78 3.6 1.8 9.6 5.5-1 11.4z" fill="currentColor">
          </svg>
        </a>

      {%- when 'vimeo' -%}
        <a
          class="vimeo flex w-max icon"
          style="width: {{- size -}}px; height: {{- size -}}px;"
          aria-label="Link to our Vimeo"
          target="_blank"
          href="{{ social_url }}"
        >
          <svg
            aria-hidden="false"
            focusable="true"
            role="region"
            class="icon icon-vimeo"
            viewBox="0 0 100 87"
          >
            <path fill-rule="evenodd" d="M100 20.4c-.5 9.7-7.3 23-20.4 40C66 78.1 54.5 87 45 87c-5.8 0-10.7-5.4-14.7-16.2l-8.1-29.6C19.2 30.4 16 25 12.6 25c-.8 0-3.4 1.6-7.9 4.7l-4.7-6 14.6-13c6.6-5.8 11.5-8.8 14.8-9C37.2.8 42 6.1 43.8 17.5c2 12.3 3.3 20 4 23 2.3 10.2 4.7 15.3 7.4 15.3 2.1 0 5.3-3.3 9.5-10a39.2 39.2 0 006.7-15c.6-5.8-1.7-8.7-6.7-8.7-2.4 0-4.9.6-7.4 1.7C62.2 7.7 71.6-.1 85.4.4c10.3.3 15.1 7 14.6 20" fill="currentColor">
          </svg>
        </a>
    {%- endcase -%}
  {%- endfor -%}
</div>
