<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'fonts' -%}

    {%- if shop.brand.square_logo -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ shop.brand.square_logo | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'utilities.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="password">
    {{ content_for_layout }}
  </body>
</html>
