<div
  class="modal__content relative flex flex-col flex-center align-center w-screen h-screen"
  role="dialog"
  aria-labelledby="DialogHeading"
  aria-modal="true"
>
  {%- if logo != blank -%}
    {{ logo | image_url: width: 800 | image_tag: class: 'w-100 h-auto mb-5', preload: true }}
  {%- endif -%}

  {{ blocks }}

  <div
    class="password-modal__content section-container border-radius p-5 flex flex-col flex-center align-center {{ section_styling }}"
    tabindex="-1"
  >
    <h2 class="password-modal__content-heading mt-0" id="DialogHeading">
      {{ 'general.password_page.login_form_heading' | t }}
    </h2>

    {%- form 'storefront_password',
      class: 'password-form relative w-100 flex flex-col align-center flex-center mb-4'
    -%}
      {%- if form.errors -%}
        <div id="password-login-form-password-error" class="absolute left-0 w-100" role="status">
          <span class="visually-hidden hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message form-errors"
            ><img
              src="{{ "icon-error.svg" |  asset_url }}"
              class="icon-error"
              width="50"
              height="50"
              alt="Error"
              loading="lazy"
              decoding="async"
            >
            {{ 'general.password_page.login_form_error' | t -}}
          </span>
        </div>
      {%- endif -%}

      <div class="password-field field{% if form.errors %} password-field--error{% endif %} flex w-100">
        <input
          type="password"
          name="password"
          id="Password"
          class="field__input w-100"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="password-login-form-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <label
          class="field__label hidden"
          for="{{ 'general.password_page.login_form_password_label' | t }}"
        >
          {{ 'general.password_page.login_form_password_placeholder' | t }}
        </label>
      </div>

      <button
        name="commit"
        class="button-2 button button--outline submit {% if form.errors %} password-field--error{% endif %} w-100"
      >
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}

    <small class="password__footer-text">
      {{ 'general.password_page.admin_link_html' | t }}
    </small>
  </div>
</div>

{%- stylesheet -%}
  body.password .modal__content img {
    max-width: 300px;
    pointer-events: none;
  }

  body.password .modal__content .rte {
    margin-bottom: 20px;
  }

  body.password .password-modal__content {
    gap: 32px;
  }

  body.password .password-modal__content form {
    gap: 20px;
  }

  body.password .password-modal__content form .password-field.password-field--error,
  body.password .password-modal__content form .password-button.password-field--error {
    margin-top: 30px;
  }

  body.password .password-modal__content form .password-field {
    margin-right: 10px;
  }

  body.password .password-modal__content form .password-field.password-field--error input {
    border: solid 1px red;
  }

  body.password #password-login-form-password-error {
    position: absolute;
    top: -10px;
    left: 0;
  }

  body.password .form-errors {
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background: var(--error-color);
    color: red;
  }

  body.password .form-errors .icon-error {
    width: 20px;
    min-width: 15px;
    height: 20px;
    min-height: 15px;
  }

  body.password .form-errors .icon-error svg,
  body.password .form-errors .icon-error svg path,
  body.password .form-errors .icon-error svg circle {
    fill: #fff;
  }

  body.password .form-errors .form__message {
    margin: -2px 5px 0 10px;
  }

  body.password .form-errors .form__message strong {
    outline: none;
  }

  body.password .form-errors .form__message strong:focus,
  body.password .form-errors .form__message strong:focus-visible {
    outline: none;
  }

  body.password .form-errors ul {
    flex-basis: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: none;
  }
{%- endstylesheet -%}
