{%- liquid
  assign blocks = section.blocks

  assign color = section.settings.text_color
  assign bg = section.settings.background_color

  assign autoplay = section.settings.autoplay
  assign slides_per_view = section.settings.slides_per_view

  assign marquee_slides_per_view = 100 | divided_by: slides_per_view | at_least: 1 | prepend: '--slides-per-view: ' | append: 'vw;'
  assign marquee_autoplay = autoplay | times: 10 | prepend: '--animation-speed:' | append: 's;'

  # Check Enough Slides to Loop
  assign min_blocks = slides_per_view | times: 4
  assign repeat_times = min_blocks | plus: 0.0 | divided_by: blocks.size | ceil | at_least: 1 | at_most: 10
-%}

{%- if blocks.size > 0 -%}
  <div
    class="announcement-bar marquee  flex-1 flex-start align-center relative"
    style="{{- bg | prepend: 'background: ' | append: ';' | default: '' -}} {{- color | prepend: 'color: ' | append: ';' | default: '' -}}{{- marquee_autoplay -}}{{- marquee_slides_per_view -}}"
  >
    {%- for i in (1..2) -%}
      <div class="animation-container flex-start align-center">
        {%- for i in (1..repeat_times) -%}
          {%- for block in blocks -%}
            {%- liquid
              assign text = block.settings.text
              assign link = block.settings.link
              assign link_text = block.settings.link_text
            -%}

            {%- if link != blank -%}
              <a
                class="marquee-slide"
                href="{{- link -}}"
                aria-label="{{- link_text | prepend: 'Link to: ' -}}"
                {{ block.shopify_attributes }}
              >
                {{- text -}}
              </a>
            {%- else -%}
              <div class="marquee-slide">
                {{- text -}}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% stylesheet %}
  section.announcement-bar-section {
    overflow: hidden;
    z-index: 98;
    min-height: 30px;
    transition: top 150ms ease-in-out;
  }

  section.announcement-bar-section:not(.announcement-bar) {
    min-height: 0;
  }

  section.announcement-bar-section:not(:has(.marquee-slide)) {
    visibility: none !important;
  }

  section.announcement-bar-section:hover .announcement-bar .animation-container {
    animation-play-state: paused;
  }

  section.announcement-bar-section .announcement-bar.marquee,
  section.announcement-bar-section .announcement-bar.marquee .marquee-slide {
    min-height: 30px;
  }

  section.announcement-bar-section .announcement-bar {
    overflow: visible;
    min-height: 30px;
    background-color: var(--brand-color-1);
    color: #fff;
  }

  section.announcement-bar-section .announcement-bar .marquee-slide {
    transition: 0.15s ease-in-out 0.1s;
    color: inherit;
    font-size: 14px;
    text-align: center;
    padding: 6px 0 0 0;
  }

  section.announcement-bar-section .announcement-bar .marquee-slide > * {
    margin-block: 0;
    font-size: 14px;
  }

  @media (max-width: 640px) {
    section.announcement-bar-section .announcement-bar .marquee-slide {
      font-size: 13px;
    }
    section.announcement-bar-section .announcement-bar .marquee-slide > * {
      font-size: 13px;
    }
  }

  section.announcement-bar-section .announcement-bar.marquee {
    width: 100%;
    overflow: hidden;
    isolation: isolate;
    gap: 40px;
  }

  section.announcement-bar-section .announcement-bar.marquee:hover .animation-container {
    animation-play-state: paused;
  }

  section.announcement-bar-section .announcement-bar.marquee .animation-container {
    z-index: 1;
    gap: 40px;
    animation-play-state: running;
    animation: infiniteScroll 10s linear infinite;
    animation-duration: var(--animation-speed);
  }

  section.announcement-bar-section .announcement-bar.marquee .animation-container .marquee-slide {
    flex: 1;
    min-width: max-content;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    section.announcement-bar-section .announcement-bar.marquee .animation-container .marquee-slide {
      min-width: 100vw;
    }
  }

  section.announcement-bar-section
    .announcement-bar.marquee
    .animation-container
    .marquee-slide
    > a {
    color: inherit;
    white-space: nowrap;
  }

  @keyframes infiniteScroll {
    0% {
      translate: 0% 0%;
    }
    100% {
      translate: calc(-100% - 40px) 0%;
    }
  }
{% endstylesheet %}

{% comment %}
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          const body_el = document.querySelector('body');
          const annoncement_bar = document.querySelector('.announcement-bar-section');

          if (!annoncement_bar) return;

          const announcement_bar_height = annoncement_bar ? annoncement_bar.offsetHeight : 0;
          body_el.style = `--announcement-bar-height: ${announcement_bar_height}px;`;

          let lastScrollTop = 0;

          function setScrollClass() {
          const scrollTop = window.scrollY;

          if (scrollTop === 0) {
              body_el.classList.remove('is-scrolled-up', 'is-scrolled-down');
              return;
          }


          if (scrollTop > lastScrollTop) {
              body_el.classList.add('is-scrolled-down');
              body_el.classList.remove('is-scrolled-up');

          } else if (scrollTop < lastScrollTop) {

              body_el.classList.add('is-scrolled-up');
              body_el.classList.remove('is-scrolled-down');
          }

          lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
          }

          setScrollClass();

          window.addEventListener('scroll', (e) => {
              setScrollClass();
          });
      });
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar-section sticky",
  "settings": [
    {
      "type": "header",
      "content": "Style Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Colour",
      "default": "#30292f"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Colour",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Behaviour Settings"
    },
    {
      "type": "range",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "s",
      "id": "autoplay",
      "label": "Autoplay Speed",
      "default": 5
    },
    {
      "type": "range",
      "min": 1,
      "max": 4,
      "step": 1,
      "id": "slides_per_view",
      "label": "Slides in View (Desktop)",
      "info": "On tablet/mobile this defaults to 1 slide per view",
      "default": 1
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "info": "This is used for accessibility purposes and will be read by screen readers.",
          "label": "Link Text"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
