{%- liquid
  # LAYOUT
  assign vertical_spacing = section.settings.vertical_spacing
  assign page_width = section.settings.page_width
  assign grid_items = section.settings.grid_items

  # CTAS
  assign cta_1 = metaobjects.cta_card[section.settings.cta_1]
  assign cta_2 = metaobjects.cta_card[section.settings.cta_2]
  assign cta_cards = collection.metafields.collection_data.cta_cards.value

  if cta_cards != blank
    for cta_card in cta_cards
      assign cta_card_span = cta_card.collection_grid_size | plus: 0
      assign grid_items = grid_items | minus: cta_card_span

      if forloop.first
        assign collection_advert_1 = cta_card
      else
        assign collection_advert_2 = cta_card
      endif
    endfor
  elsif cta_1 != blank and cta_2 != blank
    assign cta_1_span = cta_1.collection_grid_size | plus: 0
    assign cta_2_span = cta_2.collection_grid_size | plus: 0
    assign total_cta_span = cta_1_span | plus: cta_2_span
    assign grid_items = grid_items | minus: total_cta_span
    assign collection_advert_1 = cta_1
    assign collection_advert_2 = cta_2
  elsif cta_1 != blank
    assign cta_1_span = cta_1.collection_grid_size | plus: 0
    assign grid_items = grid_items | minus: cta_1_span
    assign collection_advert_1 = cta_1
  elsif cta_2 != blank
    assign cta_2_span = cta_2.collection_grid_size | plus: 0
    assign grid_items = grid_items | minus: cta_2_span
    assign collection_advert_2 = cta_2
  endif
-%}

<section
  class="section-container {{ vertical_spacing }} {% if section.settings.filter_positioning == "vertical" %}{{ page_width }}{% endif %}"
  data-filter-grid
>
  {%- paginate collection.products by grid_items -%}
    <div class="collection-grid-filters grid pb-5 to-md-g-0 g-3 {% if section.settings.filter_positioning == 'horizontal' %}horizontal-filters to-md-mt-6{% endif %}">
        {%- render 'filters-horizontal', page_width: page_width -%}
      <grid-load-more
        class="collection-grid-wrapper {% if section.settings.filter_positioning == "horizontal" %}{{ page_width }}{% endif %} section-container w-100"
        data-section="collection"
        data-selectors="product-card, .plp-cta-card"
        data-next-url="{{ paginate.next.url }}"
      >
        <div grid class="collection-grid grid" data-next-url="{{- paginate.next.url -}}">
          {%- if collection.products.size == 0 -%}
            <div class="heading-h1 no-results">{{ 'collections.no_products' | t }}</div>
          {%- else -%}
            {%- liquid
              assign lazy_loading = false

              for product in collection.products
                # Lazy Loading Check
                if forloop.index > 4
                  assign lazy_loading = true
                endif

                render 'product-card', product: product, lazy: lazy_loading

                if forloop.index == 6
                  render 'cta-card', cta: collection_advert_1, class: 'plp-cta-card'
                elsif forloop.index == 10
                  render 'cta-card', cta: collection_advert_2, class: 'plp-cta-card'
                endif
              endfor
            -%}
          {%- endif -%}
        </div>
        {%- if paginate.pages > 1 -%}
          <div class="margin-auto pt-5 w-max flex flex-center">
            <button load-more-btn class="button-1 margin-auto text-center w-max">
              {{- 'general.load_more' | t -}}
              <div class="pagination-links visually-hidden">
                {%- if paginate.previous.url != blank -%}
                  <a
                    prev-link
                    class="prev-link"
                    href="{{- paginate.previous.url -}}"
                    aria-label="Previous collection page"
                  >
                    {{- 'general.previous_page' | t -}}
                  </a>
                {%- endif -%}
                {%- if paginate.next.url != blank -%}
                  <a
                    next-link
                    class="next-link"
                    href="{{- paginate.next.url -}}"
                    aria-label="Next collection page"
                  >
                    {{- 'general.next_page' | t -}}
                  </a>
                {%- endif -%}
              </div>
            </button>
          </div>
        {%- endif -%}
      </grid-load-more>
    </div>
  {%- endpaginate -%}
</section>

{%- stylesheet -%}
  .collection-grid {
    gap: clamp(
      var(--listing-grid-gap-mobile),
      calc(var(--listing-grid-intercept) + var(--listing-grid-slope) * 1vw),
      var(--listing-grid-gap)
    );
  }
  .collection-listing .collection-grid-filters {
    grid-template-columns: 1fr 4fr;
  }
  .collection-listing .collection-grid-filters.horizontal-filters {
    grid-template-columns: 1fr;
  }
  .collection-listing .collection-grid {
    grid-template-columns: repeat(auto-fill, minmax(clamp(260px, 20vw, 340px), 1fr));
  }
  .collection-listing .plp-cta-card {
    min-height: 454px;
  }

  @media (max-width: 991.98px) {
    .collection-listing .collection-grid-filters {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 767.98px) {
    .collection-listing .plp-cta-card {
      grid-column: span 1 !important;
      min-height: 454px;
    }
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "Collection Listing",
  "tag": "section",
  "class": "collection-listing",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "filter_positioning",
      "label": "Filter Positioning",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "range",
      "id": "grid_items",
      "label": "Grid Items",
      "min": 12,
      "max": 50,
      "step": 1,
      "default": 15
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page Width",
      "options": [
        {
          "value": "page-width",
          "label": "Default"
        },
        {
          "value": "page-width--narrow",
          "label": "Narrow"
        },
        {
          "value": "page-width--wide",
          "label": "Wide"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "vertical_spacing",
      "label": "Vertical Spacing",
      "options": [
        {
          "value": "vertical-margin",
          "label": "Margin"
        },
        {
          "value": "vertical-padding",
          "label": "Padding"
        },
        {
          "value": "vertical-margin vertical-padding",
          "label": "Margin and Padding"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": "vertical-margin"
    },
    {
      "type": "metaobject",
      "id": "cta_1",
      "label": "Collection CTA 1",
      "metaobject_type": "cta_card"
    },
    {
      "type": "metaobject",
      "id": "cta_2",
      "label": "Collection CTA 2",
      "metaobject_type": "cta_card"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  },
  "presets": [
    {
      "name": "Collection Listing"
    }
  ]
}
{% endschema %}
