{%- liquid
  # STYLING
  assign style_selector = section.settings.style_selector
  assign section_styling = section.settings.section_styling
  assign overlay_styling = section.settings.overlay_styling
  assign overlay_background = section.settings.overlay_color
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color
-%}

<section
  class="password-main"
  {% if style_selector == 'custom' %}
    style="background: {{ background_color }}; color: {{ text_color }};"
  {% endif %}
>
  {%- if section.settings.background_image != blank -%}
    <div class="bg-image absolute inset-0 h-100 w-100">
      {{
        section.settings.background_image
        | image_url: width: 2000
        | image_tag: class: 'w-100 h-100 object-cover object-center', preload: true
      }}
    </div>
  {%- endif -%}

  {%- capture blocks -%}
    {% content_for 'blocks' %}
  {%- endcapture -%}

  <div
    class="absolute inset-0 h-100 w-100 overlay {% if overlay_styling == 'primary' %}gradient-bg{% elsif overlay_styling == 'secondary' %}gradient-bg-alt{% endif %}"
    {% if section.settings.overlay_type == 'custom' %}
      style="background: {{ overlay_background }};"
    {% endif %}
  ></div>

  {%- render 'password-form',
    blocks: blocks,
    section_styling: section_styling,
    logo: section.settings.logo
  -%}
</section>

{%- stylesheet -%}
  body.password {
    height: 100vh;
    margin: 0;
  }

  /* password-main */
  body.password .password-main .bg-image {
    z-index: -1;
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "t:general.password",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "style_selector",
      "label": "Styling Type",
      "options": [
        {
          "value": "theme",
          "label": "Theme"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "theme"
    },
    {
      "type": "select",
      "id": "section_styling",
      "label": "Section Style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary",
      "visible_if": "{{ section.settings.style_selector == 'theme' }}"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Colour",
      "default": "linear-gradient(#ffffff, #ffffff)",
      "visible_if": "{{ section.settings.style_selector == 'custom' }}"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Colour",
      "default": "#393939",
      "visible_if": "{{ section.settings.style_selector == 'custom' }}"
    },
    {
      "type": "select",
      "id": "overlay_type",
      "label": "Overlay Type",
      "options": [
        {
          "value": "theme",
          "label": "Theme"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "theme"
    },
    {
      "type": "select",
      "id": "overlay_styling",
      "label": "Overlay Style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary",
      "visible_if": "{{ section.settings.overlay_type == 'theme' }}"
    },
    {
      "type": "color_background",
      "id": "overlay_color",
      "label": "Overlay Colour",
      "default": "linear-gradient(#ffffff, #ffffff)",
      "visible_if": "{{ section.settings.overlay_type == 'custom' }}"
    }
  ],
  "blocks": [{ "type": "heading" }, { "type": "richtext" }]
}
{% endschema %}
