<div
  class="header-mega-menu-container link-group h-100 w-100 flex align-center mega-menu-group cursor-pointer {% if block.settings.open_to_custiomise and request.design_mode %}open-to-customise{% endif %}"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.link_title != blank -%}
    {%- if block.settings.link_url != blank -%}
      <a
        href="{{ block.settings.link_url }}"
        class="top-level-link h-100 w-100 pl-1 pr-1 flex-center inline-flex relative m-0 align-center"
      >
        {{ block.settings.link_title }}
      </a>
    {%- else -%}
      <div class="top-level-link h-100 w-100 pl-1 pr-1 flex-center inline-flex relative m-0 align-center">
        {{ block.settings.link_title }}
      </div>
    {%- endif -%}
  {%- else -%}
    {%- if block.settings.link_url != blank -%}
      <a
        href="{{ block.settings.link_url }}"
        class="top-level-link h-100 w-100 pl-1 pr-1 flex-center inline-flex relative m-0 align-center"
      >
        {{ block.settings.menu.title }}
      </a>
    {%- else -%}
      <div class="top-level-link h-100 w-100 pl-1 pr-1 flex-center inline-flex relative m-0 align-center">
        {{ block.settings.menu.title }}
      </div>
    {%- endif -%}
  {%- endif -%}
  <div
    class="mega-menu-dropdown_outer-wrapper absolute left-0 h-max max-h-max overflow-hidden max-h-0 no-pointer-events"
    style="color: var(--text-color);"
  >
    <div
      class="mega-menu-dropdown page-width w-100 pt-5 pb-4 grid overflow-auto"
      style="grid-auto-flow: column;"
    >
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% stylesheet %}
  /* .header .top-level-links-wrapper .top-level-links .link-group {
        padding: 3px 60px 0;
    } */
  .header .header-mega-menu-container .top-level-link {
    text-decoration: none;
  }
  .header .header-mega-menu-container:first-of-type .top-level-link {
    padding-left: 0 !important;
  }
  .header .top-level-links-wrapper .top-level-links .link-group .mega-menu-dropdown_outer-wrapper {
    top: calc(100% - 1px);
    z-index: -1;
    width: 100dvw;
    box-shadow:
      0 10px 10px rgb(0 0 0 / 16%),
      inset 0 5px 10px rgb(0 0 0 / 10%);
    background: var(--body-background-color);
    transition: 0.2s all;
  }

  .header
    .top-level-links-wrapper
    .top-level-links
    .link-group
    .mega-menu-dropdown_outer-wrapper
    .mega-menu-dropdown {
    gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
    height: max-content;
    min-height: 500px;
    max-height: 70vh;
    overflow: auto;
  }

  .header .top-level-links-wrapper .top-level-links .link-group:hover {
    opacity: 1;
  }
  .header .top-level-links-wrapper .top-level-links .link-group:focus {
    opacity: 1;
  }

  .header
    .top-level-links-wrapper
    .top-level-links
    .link-group:hover
    .mega-menu-dropdown_outer-wrapper {
    display: flex;
    max-height: 70vh;
    cursor: default;
    pointer-events: auto;
  }
  .header
    .top-level-links-wrapper
    .top-level-links
    .link-group:focus
    .mega-menu-dropdown_outer-wrapper {
    display: flex;
    max-height: 70vh;
    cursor: default;
    pointer-events: auto;
  }

  .header
    .top-level-links-wrapper
    .top-level-links
    .link-group
    .mega-menu-dropdown_outer-wrapper:hover {
    display: flex;
    max-height: 70vh;
    pointer-events: auto;
    opacity: 1;
  }

  .header
    .top-level-links-wrapper
    .top-level-links
    .link-group
    .mega-menu-dropdown_outer-wrapper:hover
    .mega-menu-dropdown {
    max-height: 70vh;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .header .header-mega-menu-container .top-level-link,
  .header .link-group .top-level-link a span {
    white-space: nowrap;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Top Level Drop Down",
  "tag": null,
  "blocks": [{ "type": "_drop-down_link-group" }, { "type": "_cta" }],
  "settings": [
    {
      "type": "text",
      "id": "link_title",
      "label": "Menu Item Title",
      "default": "Menu",
      "info": "This overrides the existing title of the menu"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Menu Item URL"
    },
    {
      "type": "checkbox",
      "id": "open_to_custiomise",
      "label": "Open to customise",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Top Level Drop Down"
    }
  ]
}
{% endschema %}
